<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd"
	default-lazy-init="true">

	<description>Spring Configuration</description>

	<!-- 加载配置属性文件 -->
	<context:property-placeholder
		ignore-unresolvable="true" location="classpath:jeesite.properties" />

	<!-- 加载应用属性实例，可通过 @Value("#{APP_PROP['jdbc.driver']}") String jdbcDriver 
		方式引用 -->
	<util:properties id="APP_PROP" location="classpath:jeesite.properties"
		local-override="true" />

	<!-- 使用Annotation自动注册Bean，解决事物失效问题：在主容器中不扫描@Controller注解，在SpringMvc中只扫描@Controller注解。 -->
	<context:component-scan base-package="com.thinkgem.jeesite"><!-- base-package 
			如果多个，用“,”分隔 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	 
	<!-- 缓存配置 -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:${ehcache.configFile}" />
	</bean>
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	<!-- 计划任务配置，用 @Service @Lazy(false)标注类，用@Scheduled(cron = "0 0 2 * * ?")标注方法 -->
	<task:executor id="executor" pool-size="10" />
	<task:scheduler id="scheduler" pool-size="10" />
	<task:annotation-driven proxy-target-class="true" />

  
	<!-- 配置RestTemplate -->
	<!--Http client Factory -->
	<bean id="httpClientFactory"
		class="org.springframework.http.client.SimpleClientHttpRequestFactory">
		<property name="connectTimeout" value="60000" />
		<property name="readTimeout" value="60000" />
	</bean>

	<!--RestTemplate -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg ref="httpClientFactory" />
	</bean>
	<!-- 卡商服务接口实现，默认空实现 -->
	<!-- <bean id="smsCardService" class="com.thinkgem.jeesite.modules.tl.service.EmptySmsCardService"> 
		</bean> -->
	<!-- -->
	<bean id="jsSmsCardService"
		class="com.thinkgem.jeesite.modules.tl.service.JsSmsCardService">
		<property name="restTemplate" ref="restTemplate" />
		<property name="project" value="${tl.sms.js.project}" />
		<property name="username" value="${tl.sms.js.username}" />
		<property name="password" value="${tl.sms.js.password}" />
		<property name="maxPhoneNum" value="5" />
	</bean>
	<bean id="m60SmsCardService"
		class="com.thinkgem.jeesite.modules.tl.service.M60SmsCardService">
		<property name="restTemplate" ref="restTemplate" />
		<property name="country" value="${tl.sms.60m.country}" />
		<property name="project" value="${tl.sms.60m.project}" />
		<property name="username" value="${tl.sms.60m.username}" />
		<property name="password" value="${tl.sms.60m.password}" />
	</bean>
	<bean id="ymSmsCardService"
		class="com.thinkgem.jeesite.modules.tl.service.YmSmsCardService">
		<property name="restTemplate" ref="restTemplate" />
		<property name="project" value="${tl.sms.ym.project}" />
		<property name="username" value="${tl.sms.ym.username}" />
		<property name="password" value="${tl.sms.ym.password}" />
	</bean>
	<bean id="zmSmsCardService"
		class="com.thinkgem.jeesite.modules.tl.service.ZmSmsCardService">
		<property name="restTemplate" ref="restTemplate" />
		<property name="project" value="${tl.sms.zm.project}" />
		<property name="username" value="${tl.sms.zm.username}" />
		<property name="password" value="${tl.sms.zm.password}" />
	</bean>
	<bean id="ddSmsCardService"
		class="com.thinkgem.jeesite.modules.tl.service.DdSmsCardService">
		<property name="restTemplate" ref="restTemplate" />
		<property name="country" value="${tl.sms.dd.country}" />
		<property name="project" value="${tl.sms.dd.project}" />
		<property name="username" value="${tl.sms.dd.username}" />
		<property name="password" value="${tl.sms.dd.password}" />
	</bean>
	<bean id="cnSmsCardService"
		class="com.thinkgem.jeesite.modules.tl.service.CnSmsCardService">
		<property name="restTemplate" ref="restTemplate" />
		<property name="country" value="${tl.sms.cn.country}" />
		<property name="project" value="${tl.sms.cn.project}" />
		<property name="username" value="${tl.sms.cn.username}" />
		<property name="password" value="${tl.sms.cn.password}" />
	</bean>

  <!-- map集合的注入 -->
    <util:map id="cardMaps">
        <entry key="js" value-ref="jsSmsCardService"/>
		<entry key="60m" value-ref="m60SmsCardService"/>
		<entry key="ym" value-ref="ymSmsCardService"/>
		<entry key="zm" value-ref="zmSmsCardService"/>
		<entry key="dd" value-ref="ddSmsCardService"/>
		<entry key="cn" value-ref="cnSmsCardService"/>
    </util:map>
	<bean id="registePoolService"
		class="com.thinkgem.jeesite.modules.tl.service.RegistePoolService">
		<property name="cardSupplier" value="60m" />
		<property name="cardMaps" ref="cardMaps"/>
	</bean>
	
	<bean id="registeService"
		class="com.thinkgem.jeesite.modules.tl.service.RegisteService">
		<property name="cardSupplier" value="60m" />
		<property name="cardMaps" ref="cardMaps"/>
	</bean>
</beans>