<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd"
	default-lazy-init="true">

	<description>定时调度配置</description>
	<!-- 调度池 -->
	<bean id="scheduleService" class="com.thinkgem.jeesite.modules.tl.service.ScheduleService">
	</bean>
	  <bean id="botService" class="com.thinkgem.jeesite.modules.tl.service.BotService">
	</bean>  
	<!-- <task:scheduler id="taskScheduler" pool-size="10" /> -->
	<task:scheduled-tasks>
		<task:scheduled ref="botService" method="scheduleRunWork"
			cron="0/3 * * * * ?" />
		<!--更新群组的用户数量
		<task:scheduled ref="scheduleService" method="scheduleUpdateGroupInfo"
			cron="0 0/10 * * * ?" /> -->
		<!-- 账号自动加入有效群组 <task:scheduled ref="scheduleService" method="scheduleJoinGroup" 
			cron="0 0/5 * * * ?" /> -->
		<!-- 抽取用户任务查询，将待处理任务放入队列中 
		<task:scheduled ref="scheduleService" method="scheduleFetchUser"
			cron="0/30 * * * * ?" />-->
			
		<!-- 执行抽取用户，没2秒执行一次，控制频率，不被电报封
		<task:scheduled ref="scheduleService" method="handleAccountFetchUser"
			cron="0/2 * * * * ?" /> -->

		<!-- 定时从卡商获取手机列表，3分钟一次 -->
		<task:scheduled ref="registeService" method="getPhoneList"
			cron="0/10 * * * * ?" />
		<!-- 定时从卡商获取手机验证码列表，10秒一次 -->
		<task:scheduled ref="registeService" method="getPhoneCodeList"
			cron="0/5 * * * * ?" />
			
		<!-- 定时向手机发送验证码 -->
		<task:scheduled ref="registeService" method="autoRegiste"
			cron="0/10 * * * * ?" />
			
		<!-- 定时检查验证码，并验证 -->
		<task:scheduled ref="registeService" method="autoSentCode"
			cron="0/5 * * * * ?" />


		<!-- 每半分钟触发任务 <task:scheduled ref="app" method="execute1" cron="30 * * 
			* * ?"/> 每小时的10分30秒触发任务 <task:scheduled ref="app" method="execute2" cron="30 
			10 * * * ?"/> 每天1点10分30秒触发任务 <task:scheduled ref="app" method="execute3" 
			cron="30 10 1 * * ?"/> 每月20号的1点10分30秒触发任务 <task:scheduled ref="app" method="execute4" 
			cron="30 10 1 20 * ?"/> 每年10月20号的1点10分30秒触发任务 <task:scheduled ref="app" method="execute5" 
			cron="30 10 1 20 10 ?"/> 每15秒、30秒、45秒时触发任务 <task:scheduled ref="app" method="execute6" 
			cron="15,30,45 * * * * ?"/> 15秒到45秒每隔1秒触发任务 <task:scheduled ref="app" method="execute7" 
			cron="15-45 * * * * ?"/> 每分钟的每15秒时任务任务，每隔5秒触发一次 <task:scheduled ref="app" 
			method="execute8" cron="15/5 * * * * ?"/> 每分钟的15到30秒之间开始触发，每隔5秒触发一次 <task:scheduled 
			ref="app" method="execute9" cron="15-30/5 * * * * ?"/> 每小时的0分0秒开始触发，每隔3分钟触发一次 
			<task:scheduled ref="app" method="execute10" cron="0 0/3 * * * ?"/> 星期一到星期五的10点15分0秒触发任务 
			<task:scheduled ref="app" method="execute11" cron="0 15 10 ? * MON-FRI"/> -->
	</task:scheduled-tasks>
</beans>