html,body {
	background-color: #0098d4;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu ;
	overflow-x: hidden;
    overflow-y: hidden;
}
.login-page, .register-page {
    background: #0098d4;
}
.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-top: 5%; 
    margin-bottom: 80px; 
    font-weight: 300;
}
.login-box, .register-box {
    width: 500px; 
    margin: 10px auto 8% auto;
}
.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 30px 20px; 
}
.login-box-body, .register-box-body {
    background: #fff;
    padding: 30px;
    border-top: 0;
    color: #666;
}
.btn-login{
	background-color: #0098d4;
	color:#ffffff; 
}

.footer{
	width:100%;
	display:block;  
	position: fixed;
    bottom: 0;
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
    border-top: 0px solid #0663A2;
}
.footer a{ 
	color:inherit;  
}
.footer p{ 
	margin:0px;   
}